.landing {
  --flow-space: var(--space-10x);

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  min-block-size: 100vb;
  padding: var(--space-10x) 0 0 0;
}

.landing__message {
  --landing-message-font-size: 1rem;

  @media (--viewport-smallest+) {
    --landing-message-font-size: 1.25rem;
  }

  @media (--viewport-medium+) {
    --landing-message-font-size: 1.8rem;
  }

  font-size: var(--landing-message-font-size);
  text-align: center;
}

.landing-image {
  border-radius: 5px;
  display: block;
  margin: var(--space-10x) auto;
}