.landing {
  --flow-space: var(--space-8x);

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  min-block-size: 100vb;
  padding: var(--space-10x) 0;
}

.landing__message {
  --landing-message-font-size: 1.25rem;

  @media (height > 700px) {
    --landing-message-font-size: 1.8rem;
  }

  font-size: var(--landing-message-font-size);
  text-align: center;
}

.landing-image {
  border-radius: 5px;
  display: block;
  margin-inline: auto;
}