.nav {
  --nav-gap: var(--space-4x);
  --nav-display: none;
  --nav-position: fixed;
  --nav-margin: 0;
  --nav-background: var(--white);
  --nav-direction: column;
  --nav-padding: var(--space-4x);
  --nav-justify-content: flex-end;

  @media (--viewport-small+) {
    --nav-gap: var(--space-10x);
    --nav-display: flex;
    --nav-position: static;
    --nav-margin: var(--space-10x) 0 var(--space-16x) 0;
    --nav-background: transparent;
    --nav-direction: row;
    --nav-padding: 0;
    --nav-justify-content: center;
  }

  align-items: baseline;
  background-color: var(--nav-background);
  display: var(--nav-display);
  flex-direction: var(--nav-direction);
  gap: var(--nav-gap);
  inset: 0;
  justify-content: var(--nav-justify-content);
  margin: var(--nav-margin);
  padding: var(--nav-padding);
  position: var(--nav-position);
  z-index: var(--stack-order-higher);

  > li {
    flex-basis: fit-content;
  }

  &[data-state=open] {
    --nav-display: flex;
  }
}

.nav__item {
  --nav-item-font-size: 2rem;

  @media (--viewport-small+) {
    --nav-item-font-size: 1.15rem;
  }

  display: block;
  font-size: var(--nav-item-font-size);
  font-weight: 700;
  text-align: center;

  &[aria-current=page][data-underline] {
    text-decoration-color: var(--taupe);
  }
}

.toggle {
  align-items: center;
  display: flex;
  font-size: 0.85rem;
  gap: var(--space-4x);
  margin: 0 0 var(--space-6x) auto;
  padding: var(--space-4x) 0;

  &[aria-expanded=true] {
    inset: auto var(--space-4x) auto auto;
    margin: 0;
    position: fixed;
    z-index: var(--stack-order-highest);
  }

  @media (--viewport-small+) {
    display: none;
  }
}

.burger {
  block-size: 20px;
  display: flex;
  flex-direction: column;
  inline-size: 20px;
  justify-content: space-between;
  transition: transform 330ms ease-out;

  &[data-toggled=true] {
    transform: rotate(-45deg);
  }

}

.burger__line {
  background-color: currentColor;
  block-size: 2px;
  border-radius: 5px;
  inline-size: 100%;

  &.half {
    inline-size: 50%;
  }

  &.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;

    [data-toggled=true] & {
      transform: rotate(90deg) translateX(9px);
    }
  }

  &.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;

    [data-toggled=true] & {
      transform: rotate(-90deg) translateX(-1px);
    }
  }
}